@import "../valo/valo";
@import "addons.scss";

.demotheme {
  @include valo;
  @include addons;

  $row_height: 62px;

  .v-grid-body .v-grid-cell {
    height: $row_height;
    line-height: $row_height;
  }

  .green {
    color: rgba(50, 186, 7, 0.82);
    font-size: 200%;
  }

  .red {
    color: rgba(255, 38, 0, 0.6);
    font-size: 200%;
  }

}