@import "../valo/valo.scss";

.demotheme {
  @include valo;

  $row_height: 62px;

  .v-grid-body .v-grid-cell {
    height: $row_height;
    line-height: $row_height;
  }

  .green {
    color: rgba(50, 186, 7, 0.82);
    font-size: 200%;
  }

  .red {
    color: rgba(255, 38, 0, 0.6);
    font-size: 200%;
  }

  .v-grid-cell > div.component-cell {
    display: flex;
    align-items: center;
    justify-content: left;
  }

}