
@mixin componentrenderer {
    .v-grid-cell > .cr-component-cell {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
}